@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- About US -->
<section id="about" class="about">
    <div class="container-fluid mt-5">
        <div class="row mt-5">
            <h2 class="text-center mt-5"> About US</h2>
        </div>
        <div class="row">
            <p class="p-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce interdum, leo a tempus tempus, neque urna sodales enim, et rutrum dui ligula consequat felis. Aliquam euismod, lorem at varius ornare, mauris tellus euismod mauris, vitae malesuada felis tortor in velit. Integer bibendum sodales quam. Nunc eu metus eget massa condimentum lobortis. Praesent lacinia sagittis dolor sed tincidunt. Duis lobortis convallis erat vitae pharetra. Sed eget pulvinar sem. Praesent a dolor quis nunc porta aliquam. Integer sed bibendum dui, dictum congue quam. Etiam faucibus nisi eget vehicula imperdiet. Etiam pulvinar iaculis augue id tincidunt. Duis fringilla leo tellus, vel consequat lorem dapibus sit amet. Nam ac quam gravida nisi pellentesque gravida in sed ante. </p>
        </div>
    </div>
</section>

<!-- Contact Us  -->
<section id="contact" class="contact">
    <div class="container-fluid">
        <div class="row">
            <h2 class="text-center"> Contact US</h2>
        </div>
        <form class="m-5">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name">
                <div id="name" class="form-text">We'll never share your Name with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <textarea placeholder="Message" style="width:100%">

                        </textarea>
            </div>
            <button type="submit" class="btn btn-primary " style="margin-left: 50%;">Send</button>
        </form>
    </div>
</section>