@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Full Page Image Header with Vertically Centered Content -->
<header id="bg4">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-light">Emerging Technologies</h1>
                <p class="lead">Emerging technologies are technologies whose development, practical applications, or both are still largely unrealized, such that they are figuratively emerging into prominence from a background of nonexistence or obscurity - (www.wikipedia.com)</p>
            </div>
        </div>
    </div>
</header>

<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0" id="ai">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" id="techno1"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Artificial Inteligence</h2>
                <p class="lead mb-0">
                    Artificial intelligence (AI) is intelligence demonstrated by machines, as opposed to natural intelligence displayed by animals including humans. Leading AI textbooks define the field as the study of intelligent agents : any system that perceives its environment and takes actions that maximize its chance of achieving its goals. Some popular accounts use the term artificial intelligence to describe machines that mimic cognitive functions that humans associate with the human mind, such as learning and problem solving, however this definition is rejected by major AI researchers.
                </p>
            </div>
        </div>
        <div class="row g-0" id="cloud">
            <div class="col-lg-6 text-white showcase-img" id="techno2"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Cloud Computing</h2>
                <p class="lead mb-0">
                    Cloud computing[1] is the on-demand availability of computer system resources, especially data storage (cloud storage) and computing power, without direct active management by the user. Large clouds often have functions distributed over multiple locations, each location being a data center. Cloud computing relies on sharing of resources to achieve coherence and economies of scale, typically using a pay-as-you-go model which can help in reducing capital expenses but may also lead to unexpected operating expenses for unaware users.
                </p>
            </div>
        </div>
        <div class="row g-0" id="iot">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" id="techno3"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Internet of things (IOT)</h2>
                <p class="lead mb-0">
                    The Internet of things - (IoT) describes physical objects (or groups of such objects) that are embedded with sensors, processing ability, software, and other technologies, and that connect and exchange data with other devices and systems over the Internet or other communications networks.

                    The field has evolved due to the convergence of multiple technologies, including ubiquitous computing, commodity sensors, increasingly powerful embedded systems, and machine learning. Traditional fields of embedded systems, wireless sensor networks, control systems, automation (including home and building automation), independently and collectively enable the Internet of things.
                </p>
            </div>
        </div>
        <div class="row g-0" id="blockchain">
            <div class="col-lg-6 text-white showcase-img" id="techno4"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Blockchain</h2>
                <p class="lead mb-0">
                    Blockchain.com (formerly Blockchain.info) is a cryptocurrency financial services company. The company began as the first Bitcoin blockchain explorer in 2011 and later created a cryptocurrency wallet that accounted for 28% of bitcoin transactions between 2012 and 2020. It also operates a cryptocurrency exchange and provides institutional markets lending business and data, charts, and analytics.
                </p>
            </div>
        </div>
        <div class="row g-0" id="robotics">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" id="techno5"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Robotics</h2>
                <p class="lead mb-0">
                    Robotics is an interdisciplinary branch of computer science and engineering.[1] Robotics involves design, construction, operation, and use of robots. The goal of robotics is to design machines that can help and assist humans. Robotics integrates fields of mechanical engineering, electrical engineering, information engineering, mechatronics, electronics, bioengineering, computer engineering, control engineering, software engineering, mathematics, etc.
                </p>
            </div>
        </div>
        <div class="row g-0" id="cognative">
            <div class="col-lg-6 text-white showcase-img" id="techno6"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Cognative</h2>
                <p class="lead mb-0">
                    Cognitive computing (CC) refers to technology platforms that, broadly speaking, are based on the scientific disciplines of artificial intelligence and signal processing. These platforms encompass machine learning, reasoning, natural language processing, speech recognition and vision (object recognition), human–computer interaction, dialog and narrative generation, among other technologies
                </p>
            </div>
        </div>
    </div>
</section>